body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(40, 40, 40);
  }
  
  .testimonial-container {
    width: 180px;
    height: 250px;
    margin-top: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    padding: 40px 25px 10px 25px;
    color: bl;
    position: relative;
  }
  
  .Logoperson {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
  }
  .text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 100px;
  }
  .username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 100;
  }
  
